<div class="main d-flex flex-column">

  <!-- HEADER -->
  <div class="header py-3">
    <div class="container">
      <div class="d-flex flex-column flex-md-row justify-content-md-between ml-n3">
        <img class="logo" src="skin/images/dune-wallet-logo-alpha.png" />
        <div class="text-right">
          <h3 class="network d-inline
                     font-weight-bold">{{setting.network}}</h3>
          <div class="btn-group managerAccount">
            <a id="managerAccount" class="dropdown-toggle" data-target="dropdownAccounts" data-toggle="dropdown" ><blocky class="avatar" seed='{{getBlocky(mainAccounts[currentAccount].pkh)}}' size='8' scale='16'></blocky></a>
            <div class="dropdown-menu dropdown-menu-right" id="dropdownAccounts">
              <ul class="accounts accounts-drop p-0">
                <li class="account p-2 mb-2" ng-repeat="a in
                                                        mainAccounts
                                                        track by a.pkh">
                  <a class="d-flex flex-row justify-content-between" ng-click="loadManager($index)">
                    <blocky class="avatar" seed='{{getBlocky(a.pkh)}}'
                            size='8' scale='16'></blocky>
                    <div class="pl-2 pt-2 w-75">
                      <div class="text-uppercase">{{a.accounts[0].title}}</div>
                      <div class="text-truncate account-address">{{a.pkh}}</div>
                    </div>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="sideButton" ><a style="padding-top: 8px!important;" ng-click="createManager()">{{translate("create_manager")}} <i class="fa fa-plus" ></i></a></li>
                <li class="sideButton" ><a style="padding-top: 8px!important;" ng-click="restoreManager()">{{translate("restore_manager")}} <i class="fa fa-download" ></i></a></li>
                <li class="sideButton" ><a style="padding-top: 8px!important;" ng-click="linkManager()">{{translate("connect_hardware")}} <i class="fa fa-link" ></i></a></li>
                <li class="dropdown-divider"></li>
                <li class="sideButton" ><a style="padding-top: 8px!important;" ng-click="viewSettings()">{{translate("settings")}} <i class="fa fa-cog" ></i></a></li>
                <li class="sideButton" ><a style="padding-top: 8px!important;" ng-click="lock()">{{translate("lock_wallet")}} <i class="fa fa-lock" ></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAIN CONTAINER -->
  <div class="container flex-grow-1" >

    <div class="d-flex flex-column justify-content-between h-100">

      <!-- SIDE PANEL -->
      <div class="row h-100">
        <div class="side-min col-md-1" style="display: none">
          <a class="toggleArrow p-2" ng-click="sideTog()"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </div>
        <div class="side col-md-4 col-lg-3 pb-2 px-0">
          <div class="d-flex justify-content-between">
            <h3 class="py-2 px-4"
                style="">{{translate("my_accounts")}}</h3>
            <a class="toggleArrow p-2" ng-click="sideTog()"><i class="fa
                                                                  fa-arrow-circle-left" aria-hidden="true"></i></a>
            </div>
          <ul class="accounts p-0">
            <li class="account py-2 px-4 mb-2" ng-repeat="a in accounts track by a.address">
              <a class="d-flex flex-row justify-content-between" ng-click="loadAccount($index)">
                <blocky class="avatar" seed='{{getBlocky(a.address)}}' size='8' scale='16'></blocky>
                <div class="pl-2 pt-2 w-75">
                  <div class="text-uppercase">{{a.title}}</div>
                  <div class="text-truncate account-address">{{a.address}}</div>
                </div>
              </a>
            </li>
            <li class="add" >
              <a class="py-2 px-4 d-block" ng-click="add()">{{translate("add_account")}}
                <i class="fa fa-plus" ></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="mainArea col-md-8 col-lg-9 pt-4">
          <!-- TOP PANEL -->
          <div class="row">
            <div class="col-12 col-lg-5 pb-2">
              <div class="addressDetails d-flex flex-row">
                <div class="blocky-container">
                  <blocky class="avatar" seed='{{getBlocky(accounts[account].address)}}' size='8' scale='16'></blocky>
                </div>
                <div class="accountOffline" ng-hide="accountLive">
                  <i class="leftIcon fas fa-exclamation-circle"></i>
                </div>
                <div class="pt-4 pl-3 w-50">
                  <h1 class="mb-3">{{accounts[account].title}}</h1>
                  <h5 class="address text-truncate">
                    <a ng-click="copy()">
                      <i class="far fa-copy"></i></a> {{accounts[account].address}}
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-4 text-center pb-2 pt-4">
              <h2 class="balance mt-0">{{accountDetails.balance}}
                <a ng-click="refresh()"><i class="fas fa-sync"></i></a>
              </h2>
              <a class="tzscan btn btn-secondary" target="_blank" href="{{setting.explorer}}/{{accounts[account].address}}">{{translate("view_on_tzscan")}}
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="col-6 col-lg-3 text-center pb-2 pt-4">
              <qrcode error-correction-level="H" size="100" data="{{accounts[account].address}}" color="#FFF" background="#1d1d1d"></qrcode>
            </div>
          </div>

          <div class="row mt-50" ng-hide="accountLive">
            <div class="col-md-10 col-md-offset-1">
              <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("account_notadded")}}</strong></p>
            </div>
          </div>

          <!-- TABS -->
          <div ng-show="accountLive">
            <ul class="nav nav-tabs pt-3" role="tablist">
              <li role="presentation" class="active nav-item">
                <a data-target="#transactions" aria-controls="transactions" role="tab" data-toggle="tab" class="px-2 px-sm-3 text-center nav-link">{{translate("transactions")}}</a></li>
              <li role="presentation" class="nav-item">
                <a data-target="#send" aria-controls="send" role="tab" data-toggle="tab" class="px-2 px-sm-3 text-center nav-link">{{translate("send")}}</a></li>
              <li role="presentation" class="nav-item">
                <a data-target="#delegate" aria-controls="delegate" role="tab" data-toggle="tab" class="px-2 px-sm-3 text-center nav-link">{{translate("delegate")}}</a></li>
              <li role="presentation" class="nav-item">
                <a data-target="#notarize" aria-controls="notarize" role="tab" data-toggle="tab" class="px-2 px-sm-3 text-center nav-link">{{translate("notarize")}}</a></li>
              <li role="presentation" class="nav-item">
                <a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="px-2 px-sm-3 text-center nav-link">{{translate("options")}}</a></li>
            </ul>
            <div class="tab-content p-3">
              <!-- transactions tab -->
              <div role="tabpanel" class="tab-pane active" id="transactions">
                <p ng-hide="transactions.length != 0"><strong>{{translate("no_transactions")}}</strong></p>
                <div class="transactions text-center" ng-hide="transactions.length == 0">
                  <div class="tx border-bottom py-1" ng-repeat="tx in
                                                                transactions
                                                                track by
                                                                $index">
                    <a target="_blank" href="{{setting.explorer}}/{{tx.hash}}">
                      <div class="row d-flex align-items-start">
                        <div class="col-4 text-center {{(tx.source !=
                                    accounts[account].address ? 'received'
                                    : 'sent')}}">
                          <div class="d-flex flex-row">
                            <div class="pr-2" ng-show="tx.source != accounts[account].address">
                              <blocky class="avatar" seed='{{getBlocky(tx.source)}}' size='8' scale='16'></blocky>
                            </div>
                            <div class="pr-2" ng-show="tx.source == accounts[account].address">
                              <blocky class="avatar" seed='{{getBlocky(tx.destination)}}' size='8' scale='16'></blocky>
                            </div>
                            <span class="txDate" ng-show="tx.source !=
                                                          accounts[account].address"><strong>{{translate("received")}}</strong>
                              <br />{{toDate(tx.time)}}
                            </span>
                            <span class="txDate" ng-show="tx.source ==
                                                          accounts[account].address"><strong>{{translate("sent")}}</strong>
                              <br />{{toDate(tx.time)}}
                            </span>
                          </div>
                        </div>
                        <div class="col-4">
                          <span class="txAddress" ng-show="tx.source != accounts[account].address" >{{translate("from")}} {{tx.source}}</span>
                          <span class="txAddress" ng-show="tx.source == accounts[account].address" >{{translate("to")}} {{tx.destination}}</span>
                        </div>
                        <div class="col-4 txAmount {{(tx.source != accounts[account].address ? 'received' : 'sent')}}">
                          <span ng-show="tx.source == accounts[account].address" class="amt red">{{toTez(tx.amount).toFixed(3)}} đ</span>
                          <span ng-show="tx.source != accounts[account].address" class="amt green">{{toTez(tx.amount).toFixed(3)}} đ</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div ng-show="moreTxs" class='tx'>
                    <strong>{{translate("last_10_transactions")}} <a target="_blank" href="{{setting.explorer}}/{{accounts[account].address}}">{{translate("view_more_here")}}</a></strong>
                  </div>
                </div>
              </div>
              <!-- send tab -->
              <div role="tabpanel" class="tab-pane" id="send">
	        <div class="row">
                  <div class="col-md-12" ng-show="!isRevealed && account==0">
                    <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("first_operation")}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">{{translate("destination_address")}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('destination_tooltip')}}" tooltip></i><a ng-show="accounts.length !== 0 && !showAccounts" style="position: absolute;right: 15px;cursor:pointer;" ng-click="toaddress = nextAddress(); showAccounts = true">{{translate("my_accounts")}}</a><a ng-show="accounts.length !== 0 && showAccounts" style="position: absolute;right: 15px;cursor:pointer;" ng-click="toaddress = ''; showAccounts = false;">{{translate("enter_address")}}</a></label>
                      <input ng-show="!showAccounts" type="text" class="form-control" ng-model="toaddress" placeholder="dn/KT1...">
                      <select ng-show="showAccounts" class="form-control" ng-model="toaddress">
                        <option ng-repeat="a in accounts track by a.address" value="{{a.address}}">{{a.title}} - {{a.address}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">{{translate("amount")}} đ <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('amount_tooltip')}}" tooltip></i><a style="position: absolute;right: 15px;cursor:pointer;" ng-click="amount = max()">{{translate("max")}}</a></label>
                      <input type="number" class="form-control" ng-model="amount" >
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                      <label>{{translate("fee")}} μđ <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('fee_tooltip')}}" tooltip></i><a ng-show="!showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = fee; showCustom = true">{{translate("custom_fee")}}</a><a ng-show="showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = 0; showCustom = false">{{translate("fee_options")}}</a></label>
                      <input ng-show="showCustom" type="number" class="form-control" ng-model="customFee">
                      <select ng-show="!showCustom" class="form-control" ng-model="fee" number-select>
                        <option value="2500">{{translate("low")}} - 2500 μđ</option>
                        <option value="5000">{{translate("medium")}} - 5000 μđ</option>
                        <option value="30000">{{translate("high")}} - 30000 μđ</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-12" ng-show="account != 0">
                    <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("kt_send_fees")}}</strong><br /><br /><a ng-click="fee=5000;gas_limit=30000;" class="">Update Fees</a></p>
                  </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                  <div class="col-md-12 col-lg-8">
                    <a ng-click="advancedOptions = true" ng-show="!advancedOptions"><i class="fas fa-sliders-h"></i> {{translate("show_advanced_options")}} <i class="fas fa-arrow-down"></i></a>
                    <a ng-click="advancedOptions = false" ng-show="advancedOptions"><i class="fas fa-sliders-h"></i> {{translate("hide_advanced_options")}} <i class="fas fa-arrow-up"></i></a>
                  </div>
                </div>
                <div ng-show="advancedOptions" class="transition">
                  <div class="row">
                    <div class="col-md-12 col-lg-8">
                      <div class="form-group">
                        <label for="exampleInputEmail1">{{translate("parameters")}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('parameters_tooltip')}}" tooltip></i></label>
                        <input type="text" class="form-control" placeholder="(optional)" ng-model="parameters" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">{{translate("gas_limit")}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('gas_limit_tooltip')}}" tooltip></i></label>
                        <input type="number" class="form-control" ng-model="gas_limit" >
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">{{translate("storage_limit")}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('storage_limit_tooltip')}}" tooltip></i></label>
                        <input type="number" class="form-control" ng-model="storage_limit" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-20">
                  <div class="col-md-4 col-lg-3">
                    <a ng-click="send()" class="btn btn-small btn-primary btn-block">{{translate("send")}}</a>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <a ng-click="clear()" class="btn btn-small btn-secondary btn-block">{{translate("clear")}}</a>
                  </div>
                </div>
              </div>
              <!-- delegate tab -->
              <div role="tabpanel" class="tab-pane" id="delegate">
                <div ng-show="currentProto != 'PsBabyM1'">
                  <div class="row">
                    <div class="col-lg-8 col-md-12" ng-show="account > 0 && delegateType == ''">
                      <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("ensure_delegate")}}</strong></p>
                    </div>
                    <div class="col-lg-8 col-md-12" ng-show="account > 0 && delegateType != ''">
                      <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("endorse_delegate")}}</strong></p>
                    </div>
                    <div class="col-lg-8 col-md-12" ng-show="account == 0">
                      <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("disabled_delegate")}}</strong></p>
                    </div>
                  </div>
                  <div class="row" ng-show="account == 0">
                    <div class="col-md-4 col-lg-3" >
                      <a ng-click="add()" class="btn btn-primary btn-block">{{translate('add_account')}}</a>
                    </div>
                  </div>
                  <div ng-show="account > 0">
                    <div class="row mt-20">
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label>{{translate("delegate_options")}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('delegate_options_tooltip')}}" tooltip></i></label>
                          <select class="form-control" ng-model="delegateType">
                            <option value="undelegated">Undelegated</option>
                            <option value="">Custom</option>
                            <option ng-repeat="d in delegates.keys" value="{{d}}" ng-show="$index">{{delegates.names[$index]}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label>{{translate("fee")}} μđ<span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('fee_tooltip')}}" tooltip></i><a ng-show="!showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = fee; showCustom = true">{{translate("custom_fee")}}</a><a ng-show="showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = 0; showCustom = false">{{translate("fee_options")}}</a></label>
                          <input ng-show="showCustom" type="number" class="form-control" ng-model="customFee">
                          <select ng-show="!showCustom" class="form-control" ng-model="fee" number-select>
                            <option value="1420">{{translate("low")}} - 1420μđ</option>
                            <option value="5000">{{translate("medium")}} - 5000μđ</option>
                            <option value="30000">{{translate("high")}} - 30000μđ</option>
                          </select>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-lg-4 col-md-6" ng-show="!delegateType">
                          <label>{{translate("custom_delegate")}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('custom_delegate_tooltip')}}" tooltip></i></label>
                          <div class="form-group" placeholder="dn">
                            <input type="text" class="form-control" ng-model="dd" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4" >
                          <a ng-click="updateDelegate()" class="btn btn-small btn-primary btn-block">{{translate("update_delegate")}}</a>
                        </div>
                      </div>
                  </div>
                </div>
                <div ng-show="currentProto == 'PsBabyM1'">
                  <div class="row">
                    <div class="col-md-12" ng-show="account == 0 && delegateType == ''">
                      <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("ensure_delegate")}}</strong></p>
                    </div>
                    <div class="col-md-12" ng-show="account == 0 && delegateType != ''">
                      <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("endorse_delegate")}}</strong></p>
                    </div>
                    <div class="col-md-12" ng-show="account != 0">
                      <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("comingsoon_delegate")}}</strong></p>
                    </div>
                  </div>
                  <div class="row" ng-show="account != 0">
                    <div class="col-md-4 col-lg-3" >
                    </div>
                  </div>
                  <div ng-show="account == 0">
                    <div class="row mt-20">
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label>{{translate("delegate_options")}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('delegate_options_tooltip')}}" tooltip></i></label>
                          <select class="form-control" ng-model="delegateType">
                            <option value="undelegated">Undelegated</option>
                            <option value="">Custom</option>
                            <option ng-repeat="d in delegates.keys" value="{{d}}" ng-show="$index">{{delegates.names[$index]}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label>{{translate("fee")}} μꜩ<span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('fee_tooltip')}}" tooltip></i><a ng-show="!showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = fee; showCustom = true">{{translate("custom_fee")}}</a><a ng-show="showCustom" style="position: absolute;right: 15px;cursor:pointer;" ng-click="customFee = 0; showCustom = false">{{translate("fee_options")}}</a></label>
                          <input ng-show="showCustom" type="number" class="form-control" ng-model="customFee">
                          <select ng-show="!showCustom" class="form-control" ng-model="fee" number-select>
                            <option value="2500">{{translate("low")}} - 2500μꜩ</option>
                            <option value="5000">{{translate("medium")}} - 5000μꜩ</option>
                            <option value="30000">{{translate("high")}} - 30000μꜩ</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6" ng-show="!delegateType">
                        <label>{{translate("custom_delegate")}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('custom_delegate_tooltip')}}" tooltip></i></label>
                        <div class="form-group" placeholder="dn">
                          <input type="text" class="form-control" ng-model="dd" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4" >
                        <a ng-click="updateDelegate()" class="btn btn-small btn-primary btn-block">{{translate("update_delegate")}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- notarize tab -->
              <div role="tabpanel" class="tab-pane" id="notarize">
                <div ng-hide="file_hashed" class="pb-5">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label>{{translate("file")}}</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="notarize-input">
                          <label class="custom-file-label"
                                 for="notarize-input" id="notarize-name">{{translate("browse")}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{translate("comments")}}</label>
                        <textarea class="form-control" rows="3"
                                  id="notarize-comments" maxlength="200"></textarea>
                      </div>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-4" >
                      <a ng-click="hash_file_control()" class="btn btn-small btn-primary btn-block">{{translate("hash_file")}}</a>
                    </div>
                  </div>
                </div>
                <div ng-show="file_hashed" class="pb-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{translate("notarize_file_hash")}}</label>
                        <div class="col-12 hash">{{notarize_file_hash}}</div>
                      </div>
                    </div>
                    <div class="col-12 p-3">
                      <div class="form-group">
                        <label>{{translate("meta_data")}}</label>
                        <div class="col-12 hash">{{notarize_meta_data}}</div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-4" >
                      <a ng-click="notarize()" class="btn btn-small btn-primary btn-block">{{translate("notarize")}}</a>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-4" >
                      <a ng-click="refreshNotarize()" class="btn btn-small btn-primary btn-block">{{translate("cancel")}}</a>
                    </div>
                  </div>
                </div>

                <p ng-hide="notarizations.length != 0"><strong>{{translate("no_notarization")}}</strong></p>
                <div class="transactions text-center" ng-hide="notarizations.length == 0">
                  <div class="tx border-bottom py-1" ng-repeat="tx in
                                                                notarizations
                                                                track by
                                                                $index">
                    <div class="row d-flex align-items-start">
                      <div class="col-4 text-center sent">
                        <a target="_blank" href="{{setting.explorer}}/{{tx.hash}}">
                          <span class="txDate"><strong>{{translate("notarized")}}</strong>
                            <br />{{toDate(tx.time)}}
                          </span>
                        </a>
                      </div>
                      <div class="col-5">
                        <span class="txAddress"><strong>{{translate("hash")}}</strong>
                          <br />{{tx.parameters.hash}}</span>
                      </div>
                      <div class="col-2">
                        <button class="btn btn-default"
                                ng-click="notarize_download(tx.hash)" name="{{tx.hash}}">
                          <i class="fas fa-download"></i>
                        </button>
                      </div>
                      <div class="col-1" data-toggle="collapse" data-target="#{{tx.hash}}-meta-data">&#9660</div>
                      <div class="collapse col-12 row" id="{{tx.hash}}-meta-data">
                        <div class="col-6">
                          <span class="txMore"><strong>{{translate("name")}}</strong><br />{{tx.parameters.name}}</span>
                        </div>
                        <div ng-hide="tx.parameters.comments==''" class="col-6">
                          <span class="txMore"><strong>{{translate("comments")}}</strong><br />{{tx.parameters.comments}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-show="moreNts" class='tx'>
                    <strong>{{translate("last_10_notarizations")}} <a target="_blank" href="{{setting.explorer}}/{{accounts[account].address}}">{{translate("view_more_here")}}</a></strong>
                  </div>
                </div>


              </div>
              <!-- options tab -->
              <div role="tabpanel" class="tab-pane" id="settings">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>{{translate('title')}}</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="tt" >
                    </div>
                  </div>
                  <div class="col-12 col-sm-5 col-lg-3" >
                    <a ng-click="saveTitle()" class="btn btn-small btn-primary btn-block">{{translate('update_title')}}</a>
                  </div>
                </div>
                <div ng-hide="account > 0">
                  <div ng-show="type == 'encrypted'" class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{translate('export_private_key')}}</label>
                        <p>{{translate('export_private_key_info')}}</p>
                        <p ng-show="privateKey" class="display-privatekey"><strong>{{privateKey}}</strong></p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group">
                        <input type="password" placeholder="{{translate('enter_password_to_show')}}" class="text-left form-control" ng-model="password">
                      </div>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-3">
                      <a ng-show="!privateKey" ng-click="showPrivatekey()" class="btn btn-primary btn-small btn-block">{{translate('show')}}</a>
                      <a ng-show="privateKey" ng-click="privateKey = ''" class="btn btn-primary btn-small btn-block">{{translate('hide')}}</a>
                    </div>
                  </div>
                  <div ng-show="type == 'ledger' || type == 'trezor'" class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{translate('hd_path')}}</label>
                        <p>{{translate('hd_path_info')}}</p>
                        <p class="display-privatekey"><strong>{{hd_path}}</strong></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{translate('import_kt1_account')}}</label>
                        <p>{{translate('import_kt1_account_msg')}} <a target="_blank" href="{{setting.explorer}}/{{accounts[account].address}}?default=origination">dunscan.io</a>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group">
                        <input type="text" class="form-control" ng-model="kt1" placeholder="KT1...">
                      </div>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-3">
                      <a ng-click="import()" class="btn btn-small btn-primary btn-block">{{translate('import')}}</a>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="account > 0">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>{{translate('remove_contract')}}</label>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="account > 0">
                  <div class="col-12 col-sm-5 col-lg-3">
                    <a ng-click="remove()" class="btn btn-small btn-primary btn-block">{{translate('remove_contract')}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom">
        <div class="side col-md-4 col-lg-3 py-3 px-4">
          <p>
            {{block.net}}<br />
            {{translate("level")}} {{block.level}}<br />
            <strong>{{block.proto}}</strong><br />
            {{setting.rpc}}
            v{{version}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</div>
