<div class="main">
  <div class="no-container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
        <img class="img-fluid" src="skin/images/dune-wallet-logo-alpha.png" />
      </div>
    </div>
    <div ng-show="setting.disclaimer">
      <div  class="row text-center mt-3">
        <div class="col-8 offset-2">
          <p>
            <a class="btn btn-primary btn-block" ng-click="link()">
            <img style="height: 20px;margin-right:40px;" src="skin/images/ledger-logo.svg">
            <img style="height: 20px;" src="skin/images/trezor-logo.svg">
            </a>
          </p>
        </div>
      </div>

      <div  class="row">
        <div class="col-8 offset-2">
          <a ng-click="create()" class="btn btn-primary btn-block">{{translate("create_tezbox")}}</a>
        </div>
      </div>
      <div  class="row">
        <div class="col-8 offset-2">
          <a ng-click="restore()" class="btn btn-secondary btn-block">{{translate("restore_tezbox2")}}</a>
        </div>
      </div>
      <div  class="row text-center mt-5">
        <div class="col-10 offset-1">
          <p><strong>{{translate("link_hardware_wallet")}}</strong></p>
        </div>
      </div>
      <div  class="row">
        <div class="col-8 offset-2">
          <a ng-click="link()" class="btn btn-secondary btn-block">{{translate("link_tezbox")}}</a>
        </div>
      </div>
      <div  class="row text-center">
        <div class="col-10 offset-1">
          <p>
            <img style="height: 20px;margin-right:40px;" src="skin/images/ledger-logo.svg">
            <img style="height: 20px;" src="skin/images/trezor-logo.svg">
          </p>
          <p><a target="_blank" href="https://tezbox.com/buy-hardware-wallet.html" class="">{{translate("recommend_hardware")}}</a></p>
        </div>
      </div>
      <!-- <div  class="row text-center mt-5"> -->
      <!--   <div class="col-10 offset-1"> -->
      <!--     <a ng-click="unacceptDisclaimer()"><i class="fas fa-check-square"></i></a> <strong>I have Accepted the <a ng-click="terms()" target="_blank">Terms and Privacy Policy</a></strong> -->
      <!--   </div> -->
      <!-- </div> -->
      <div class="row text-center mt-5">
        <div class="col-10 offset-1">
          <p>
            Dune Wallet is a fork
            of <a href="https://github.com/tezbox" target="_blank">
            TezBox Wallet</a> applied to the different networks of
            Dune Protocol.
        </div>
      </div>
    </div>
    <div class="row" ng-hide="setting.disclaimer">
      <div class="col-10 offset-1">
        <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("warning")}}</strong></p>
        <p class="text-center"><strong>Please read and accept the <a ng-click="terms()" target="_blank">Terms and Privacy Policy</a> to continue</strong></p>
      </div>
      <div class="col-6 offset-3 text-center mt-3">
        <a ng-click="acceptDisclaimer()" class="btn btn-primary btn-block">{{translate("i_accept")}}</a>
      </div>
    </div>
  </div>
</div>
