<div class="main">
  <div class="no-container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
        <img class="img-fluid" src="skin/images/dune-wallet-logo-alpha.png" />
      </div>
      <div class="col-11 mt-5 offset-1">
        <p>
          Dune Wallet is a fork of <a href="https://github.com/tezbox"
          target="_blank"> TezBox Wallet</a>. Dune Wallet is not responsible for potential hacks or losses of financial assets or Dune tokens stored in the wallet. Use it at your own risk.

        </p>

        <div class="col-4 offset-4 text-center">
          <a ng-click="backToHome()" class="btn btn-primary
          btn-block">{{translate('back')}}</a>
        </div>

      </div>

    </div>
  </div>
</div>
